



<div class="jumbotron">

    <!--<p>Hello</p>
    <p style="color:#673AB7">   {{StorageService.setName}} </p>-->


    <br />



    <div ng-show="name">
        <p> Hello, <span style="color:#673AB7">{{name}}</span>
    </div>



    <p> Welcome to the </p>

    <h1>AngularQuiz</h1>



   
       
    <!-- X -->
      
    <tour step="currentStep">

        <form name="nameForm" tourtip="tip 1" method="post" ng-submit="startQuiz()">

            <p>Please enter your email address below </p>

       </tour>


            <label>
                <input ng-model='myName' ng-required="true" type="email" name="input" class="form-control" style="font-size: 15px">
            </label>


            <div class="row">
                <div class="col-md-8-offset-2">
                    <button name="submit" tourtip="tip 1" class="btn btn-primary">Go</button>



                </div>


            </div>
            <a ng-click="openTour()">Open Tour</a><br />
            <a ng-click="closeTour()">Close Tour</a>


            <!--<p><a class="btn btn-raised btn-primary" ng-href="/#/question">Start Quiz</a></p>-->
        </form>

        <!--<button class="btn btn-primary" ng-click="startQuiz()"></button>-->


        <br />
        <div>{{valueReturned}}</div>

        <!-- <div> nameForm is {{nameForm.$valid}}</div>






         <!-- <p class="lead">Please enter your email address  </p>

          <div class="form-group">
            <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2" style="padding-top: 20px; padding-bottom: 20px">
              <input ng-model='myName' type="email" name="input" class="form-control"  style="font-size: 20px">


        -->
</div>






</div>



  <!-- basic two way binding -->






