


<div class="jumbotron">

  <div ng-controller="greetCtrl">
    <p> Hello, <span style="color:#673AB7">{{name}}</span>
  </div>


<div class="">
  <h4>Timer</h4>
  <button class="btn btn-fab btn-raised btn-primary">{{currentTime}}</button>
</div>



  <!-- <h1>timer:{{currentTime}}</h1>-->



  <h1>Question {{data.questions[currentQuestion].questionId}}</h1>

      <p>{{data.questions[currentQuestion].text}}</p>

          <div ng-repeat="answer in data.questions[currentQuestion].answers">

            <p><a class="btn btn-primary"  ng-click="processQuestion(data.questions[currentQuestion].questionId, answer.answerId)"  > {{answer.text}} </a></p>

          </div>



  <progress-component ng-controller="ProgressController"></progress-component>



</div>




