


<div class="jumbotron">

  <div ng-controller="greetCtrl">
    <p style="padding-left: 50px"> Hello, <span style="color:#673AB7">{{name}}</span>   <button class="btn btn-fab btn-raised btn-primary" style="float: right">{{currentTime}}</button>

  </div>



  <!-- <h1>timer:{{currentTime}}</h1>-->



  <h1  style="padding-left: 70px">Question {{data.questions[currentQuestion].questionId}}</h1>


      <p style="padding-left: 3px">{{data.questions[currentQuestion].text}}</p>

          <div ng-repeat="answer in data.questions[currentQuestion].answers">

            <p><a class="btn btn-primary"  ng-click="processQuestion(data.questions[currentQuestion].questionId, answer.answerId)"  > {{answer.text}} </a></p>

          </div>



  <progress-component ng-controller="ProgressController"></progress-component>



</div>




