


<div class="jumbotron">

  <div ng-controller="greetCtrl">
    <p> Hello, <span style="color:#673AB7">{{name}}</span>
  </div>




  <h1>Question {{data.questions[currentQuestion].questionId}}</h1>

      <p>{{data.questions[currentQuestion].text}}</p>

          <div ng-repeat="answer in data.questions[currentQuestion].answers">

            <p><a class="btn btn-primary"  ng-click="processQuestion(data.questions[currentQuestion].questionId, answer.answerId)"  > {{answer.text}} </a></p>

          </div>
</div>





<div class="progress">
  <div class="progress-bar progress-bar-material-deep-purple active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
    <span class="sr-only">45% Complete</span>
  </div>
</div>
