



<div class="jumbotron" ng-controller='MainCtrl'>

  <!--<p>Hello</p>
  <p style="color:#673AB7">   {{StorageService.setName}} </p>-->


  <br />



  <div>
    <p>Hello</p> <p style="color:#673AB7">{{name}}</p>

  </div>



  <p> Welcome to the </p>

  <h1>AngularQuiz</h1>




  <div>
    <form ng-submit="saveMyName(myName)" >

      <p>Please enter your email address  </p>
      <label>
        <input ng-model='myName' type="email" name="input" class="form-control"  style="font-size: 20px">
      </label>
      <button type="submit" class="" ng-href="/#/question1">Submit</button>
    </form>

    <br/>
    <div>{{valueReturned}}</div>






  <!-- <p class="lead">Please enter your email address  </p>

   <div class="form-group">
     <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2" style="padding-top: 20px; padding-bottom: 20px">
       <input ng-model='myName' type="email" name="input" class="form-control"  style="font-size: 20px">


 -->
    </div>




   <p><a class="btn btn-material-deep-purple" ng-href="/#/question1">Start Quiz</a></p>

</div>



  <!-- basic two way binding -->





