

<div class="jumbotron">

  <div ng-controller="MainCtrl">
    <p> Hello </p> <p style="color:#673AB7">{{name}}</p>
  </div>



  <h1>Question 3</h1>



  <p>{{question.q3}}</p>
  <div class="checkbox" style="display: inline">
    <label>
      <input type="checkbox"><span class="checkbox-material"><span class="check"></span></span> {{answer.q3a}}
    </label>
    </div>
  <div class="checkbox" style="display: inline">
    <label>
      <input type="checkbox"><span class="checkbox-material"><span class="check"></span></span> {{answer.q3b}}
    </label>
  </div>
  <div style="padding:10px">
    <p><a class="btn btn-material-deep-purple" ng-href="/#/results">Next</a></p>


  </div>
</div>


<div class="progress">
  <div class="progress-bar progress-bar-material-deep-purple active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
    <span class="sr-only">45% Complete</span>
  </div>
</div>
