

<div class="jumbotron">

  <div ng-controller="MainCtrl">
    <p> Hello</p> <p style="color:#673AB7">{{name}}</p>
  </div>


  <h1>Question 2</h1>

  <p>{{question.q2}}</p>
 <div class="checkbox" style="display: inline">
    <label>
      <input type="checkbox"><span class="checkbox-material"><span class="check"></span></span> {{answer.q2a}}
    </label>
   </div>
  <div class="checkbox" style="display: inline">
    <label>
      <input type="checkbox"><span class="checkbox-material"><span class="check"></span></span> {{answer.q2b}}
    </label>
  </div>
  <div style="padding:10px">
    <p><a class="btn btn-material-deep-purple" ng-href="/#/question3">Next</a></p>


  </div>
</div>






<div class="progress">
  <div class="progress-bar progress-bar-material-deep-purple active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">

  </div>
</div>
