

<div class="jumbotron">

  <div ng-controller="MainCtrl" ng-show="name">
    <p> Hello</p> <p style="color:#673AB7">{{name}}</p>
  </div>


  <h1>Question 2</h1>

  <p>{{question.q2}}</p>

  <div class="row">
    <div class="col-md-3 col-md-offset-3 col-sm-3 col-sm-offset-3 col-xs-3 col-xs-offset-3">

  <form action="" method="POST">
    <button type="submit" formmethod="post" formaction="http://count.io/vb/colour/red+" class="btn btn-material-red">{{answer.q2a}}</button>
  </form>
</div>

    <div class="col-md-3 col-sm-3 col-xs-3">
 <form action="" method="POST">

  <button type="submit" formmethod="post" formaction="http://count.io/vb/colour/blue+" class="btn btn-material-blue">{{answer.q2b}}</button>

</form>
</div>
</div>

  <!--
  <a  ng-href="/#/question3"><button class="btn btn-material-red">{{answer.q2a}}</button></a>
  <a  ng-href="/#/question3"><button class="btn btn-material-blue">{{answer.q2b}}</button></a>  <!--
 <div class="checkbox" style="display: inline">
    <label>
      <input type="checkbox"><span class="checkbox-material"><span class="check"></span></span> {{answer.q2a}}
    </label>
   </div>
  <div class="checkbox" style="display: inline">
    <label>
      <input type="checkbox"><span class="checkbox-material"><span class="check"></span></span> {{answer.q2b}}
    </label>
  </div>

  -->
  <div style="padding:10px">
    <p><a class="btn btn-material-deep-purple" ng-href="/#/question3">Next</a></p>


  </div>
</div>






<div class="progress">
  <div class="progress-bar progress-bar-material-deep-purple active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">

  </div>
</div>
